extend ../_shared/_master

block body
    if (message && message.length > 0)
        .flash-message-green
            | #{message}
    if (error && error.length > 0)
        div.flash-message-red
            | #{error}
    h1=hotel.name
    .container
        .row.row-margin-bottom
            if !hotel.rooms
                h3 Все още няма добавени стаи
            else
                each room in hotel.rooms
                    .col-lg-4.col-sm-6
                        .room-card
                            a(href="/rooms/" + room._id)
                                img(src=room.imageURL)
                            div.text-center
                                span.label.label-primary Цена: #{room.price}лв
                                if room.roomStatus === 'free'
                                    span.label.label-success Свободна
                                    a(href="/users/order")
                                        span.label.label-info Резервирай
                                else
                                    span.label.label-danger Заета
                            p=room.description