extend ../_shared/_master

block body
    if (message && message.length > 0)
        .flash-message-green
            | #{message}
    h1=hotel.name
    .container
        .row
            if !hotel.rooms
                h3 Все още няма добавени стаи
            else
                each room in hotel.rooms
                    .col-md-4.col-sm-6
                        .thumbnail
                            a(href='/room/' + room.id)
                                img.img-responsive(src=room.imageURL, alt=room.roomType)
                                .caption
                                    p=room.roomType
                                    p=room.price
                            a.btn.btn-primary.center(href='#') 
                                | Резервирай