extend ../_shared/_master

block body
    if (message && message.length > 0)
        .flash-message-green
            | #{message}
    if (error && error.length > 0)
        div.flash-message-red
            | #{error}
    h1=hotel.name
    .container
        .row.row-margin-bottom
            if !hotel.rooms
                h3 Все още няма добавени стаи
            else
                each room in hotel.rooms
                    .col-lg-4.col-sm-6
                        .room-card
                            a(href="/rooms/" + room._id)
                                img(src=room.imageURL)
                            div.text-center
                                span.label.label-primary Цена: #{room.price}лв
                                if room.roomStatus === 'free'
                                    span.label.label-success Свободна
                                    a(href="/orders")
                                        span.label.label-info Резервирай
                                else
                                    span.label.label-danger Заета
                            p=room.description
        .row
            if !hotel.services
                h3 Все още няма добавени услуги
            else
                each service in hotel.services
                    .col-lg-4.col-sm-6
                        .room-card
                            a(href="/services/" + service._id + '/details')
                                img(src=service.imageURL)
                            div.text-center
                                span.label.label-primary Цена: #{service.price}лв
                                a(href="/orders")
                                    span.label.label-info Резервирай
                            p=service.description
        .container
            button.btn.btn-primary.btn-block.text-center.show-comments() Покажи коментарите за хотела
            if comments
                each comment in comments
                    .container.container-comment.hidden
                        .row
                            .col-sm-12
                                .panel.panel-white.post
                                    .post-heading
                                        .pull-left.image
                                            img.img-circle.avatar(src="http://bootdey.com/img/Content/user_1.jpg" alt="profile image")
                                        .pull-left.meta
                                            .title.h5
                                                a(href="#")
                                                    b Потребител: #{comment.username}
                                            h6.text-muted.time Създаден на: #{comment.createdOn}
                                    .post-description
                                        p #{comment.content}
            a.btn.btn-default.btn-block.text-center(href="/comments") Добави коментар за този хотел
block scripts
    script(src='/public/js/comments.js')