extend ../_shared/_master

block body
    if (message && message.length > 0)
        .flash-message-green
            | #{message}
    if (error && error.length > 0)
        div.flash-message-red
            | #{error}
        //- div
        //- img(src=room.imageURL, alt='')
        //- h2 #{room.roomType}
        //- h3 #{room.price}
        //- h3 #{room.description}
        //- h3 #{room.roomStatus}
        //-     a.btn.btn-primary.pull-right(href='#') Резервирай
    .row.text-center
        .col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8
            //- .col-sm-8.col-xs-12.text-center
            .room-details
                img(src=room.imageURL)
                div.text-center
                    span.label.label-primary Цена: #{room.price}лв
                    if room.roomStatus === 'free'
                        span.label.label-success Свободна
                        a(href="/users/order")
                            span.label.label-info Резервирай
                    else
                        span.label.label-danger Заета
                p.lead Стаята е #{room.roomType}
                p=room.description