extend ../admin/panel

block addoredit
    if (message && message.length > 0)
        div.flash-message-green
            | #{message}
    if (error && error.length > 0)
        div.flash-message-red
            | #{error}
    h2 Добави стая
    form.form-horizontal(action='/rooms' method="POST")
        .form-group
            label.col-sm-3.control-label(for="hotelId")
                | Хотел
            .col-sm-9
                select.form-control(id="hotelId" name="hotelId")
                    each hotel in hotels
                        option(value=hotel._id) #{hotel.name}
                p.form-text.text-muted
                    | Изберете хотел
        .form-group
            label.col-sm-3.control-label(for="roomType")
                | Тип стая
            .col-sm-9
                input.form-control(type="text" id="roomType" name="roomType" required)
                p.form-text.text-muted
                    | Брой легла - единична, двойна, тройна или четворна
        .form-group
            label.col-sm-3.control-label(for='imageURL')
                | Изображение
            .col-sm-9
                input.form-control(type='text' name='imageURL' id='imageURL' placeholder="Адрес на изображението" required)
                p.form-text.text-muted
                    | Въведете валиден URL адрес
        .form-group
            label.col-sm-3.control-label(for='description') 
                | Кратко описание
            .col-sm-9
                textarea.form-control(name='description' id='description' placeholder="Описание" required)
        .form-group
            label.col-sm-3.control-label(for="price")
                | Цена за нощувка
            .col-sm-9
                input.form-control(type="text" id="price" name="price" placeholder="23,50" required)
        .form-group
            label.col-sm-3.control-label(for="roomStatus")
                | Статус
            .col-sm-9
                select.form-control(id="roomStatus" name="roomStatus")
                    option(value=free) free
                    option(value=booked) booked
                p.form-text.text-muted
                    | free or booked
        .form-group
            .col-sm-offset-3.col-sm-3
                input.btn.btn-primary(type='submit', value='Добави')