extend ../admin/panel

block addoredit
    if (message && message.length > 0)
        div.flash-message-green
            | #{message}
    if (error && error.length > 0)
        div.flash-message-red
            | #{error}
    h2 Промени стая
    form.form-horizontal(id="update-form" action='' method="GET")
        .form-group
            label.col-sm-3.control-label(for="roomId")
                | Стая
            .col-sm-9
                select.form-control(id="roomId" name="roomId")
                    each room in rooms
                        option(value=room._id) #{room.roomType} #{room.price}
                p.form-text.text-muted
                    | Изберете стая за редактиране
        .form-group
            label.col-sm-3.control-label(for="roomType")
                | Тип стая
            .col-sm-9
                input.form-control(type="text" id="roomType" name="roomType")
                p.form-text.text-muted
                    | Брой легла - единична, двойна, тройка или четворка
        .form-group
            label.col-sm-3.control-label(for='imageURL')
                | Изображение
            .col-sm-9
                input.form-control(type='text' name='imageURL' id='imageURL' placeholder="Адрес на изображението")
                p.form-text.text-muted
                    | Въведете валиден URL адрес
        .form-group
            label.col-sm-3.control-label(for='description') 
                | Кратко описание
            .col-sm-9
                textarea.form-control(name='description' id='description' placeholder="Описание")
        .form-group
            label.col-sm-3.control-label(for="price")
                | Цена за нощувка
            .col-sm-9
                input.form-control(type="text" id="price" name="price" placeholder="30,50")
        .form-group
            label.col-sm-3.control-label(for="roomStatus")
                | Статус
            .col-sm-9
                select.form-control(id="roomStatus" name="roomStatus")
                    option(value=free) free
                    option(value=booked) booked
                p.form-text.text-muted
                    | Свободна или заета
        .form-group
            .col-sm-offset-3.col-sm-3
                input.btn.btn-primary(type='submit', value='Промени')
    block scripts
        script(src='/public/js/requester.js')
        script(src='/public/js/room.js')