extend ../_shared/_master

block body

    if (message && message.length > 0)
        div.flash-message-green
            | #{message}
    if (error && error.length > 0)
        div.flash-message-red
            | #{error}
    if user
        form(id="register-form" class="form-vertical" action='/orders' method="POST")
            fieldset
                div(id="legend")
                    legend
                        | Направете резервация
                
                div(class="control-group")
                    label(class="control-label" for="hotel")
                        | Изберете хотел
                    div(class="controls")
                        select(id="hotel" name="hotel" class="input-xlarge")
                            each hotel in hotels
                                option(value=hotel) #{hotel.name}
                hr

                div(class="control-group")
                    label(class="control-label" for="roomId")
                        | Изберете тип стая
                    div(class="controls")
                        select(id="roomId" name="roomId" class="input-xlarge")
                hr

                div(class="control-group")
                    label(class="control-label" for="nightsCount")
                        | Брой нощувки
                    div(class="controls")
                        input.form-control(type='text' id="nightsCount" name="nightsCount" placeholder="0" class="input-xlarge")
                hr

                div(class="control-group")
                    label(id="totalPrice" class="control-label" for="price")
                    div(class="controls")
                        input.form-control(id="price" name="price" class="hidden")
                hr
                
                div(class="control-group")
                    label(class="control-label" for="paymentType")
                        | Начин на плащане
                    div(class="controls")
                        select(id="paymentType" name="paymentType" class="input-xlarge")
                            option(value="В брой") В брой
                            option(value="По банков път") По банков път
                            option(value="EasyPay") EasyPay
                hr

                div(class="control-group")
                    label(class="control-label" for="serviceId")
                        | Изберете допълнителна услуга
                    div(class="controls")
                        select(id="serviceId" name="serviceId" class="input-xlarge")
                hr

                div(class="control-group")
                    label(class="control-label" for="participants")
                        | Брой участници
                    div(class="controls")
                        input.form-control(type='text' id="participants" name="participants" placeholder="0" class="input-xlarge")
                hr

                div(class="control-group")
                    label(class="control-label" for="username")
                        | Потребител: #{user.username}
                    div(class="controls")
                        input.form-control(id="username" name="username" value=user.username class="hidden")
                        p(class="help-block")
                            | Ще потвърдим до час на имейл вашата поръчка

                div(class="control-group")
                    div(class="controls")
                        button(class="btn btn-success")
                            | Резервирай
    block scripts
        script(src='/public/js/order.js')