mixin orders-table

    table.table.custom-table.hidden-xs
        thead
            tr
                th Хотел
                th Нощувки
                th Стая
                th Услуга
                th Плащане
                th Цена
        tbody
            tr 
                if orders          
                    each order in orders
                        tr  
                            td #{order.hotelName}
                            td #{order.nightsCount}
                            td #{order.room.roomType}/#{order.room.price}лв
                            td #{order.serviceType}
                            td #{order.paymentType}
                            td #{order.price}лв.
    table.table.custom-table.visible-xs
        tbody
            tr 
                if orders          
                    each order in orders
                        tr.bg-info 
                            th Хотел 
                            th #{order.hotel}
                        tr
                            th Нощувки
                            td #{order.nightsCount}
                        tr
                            th Тип стая
                            td #{order.room.roomType}/#{order.room.price}лв
                        tr
                            th Тип услуга                             
                            td #{order.serviceType}
                        tr
                            th Плащане
                            td #{order.paymentType}
                        tr
                            th Цена
                            td #{order.price}лв