extend ../_shared/_master

block body
        div 
            h1 Потребителски профил
            div
                div
                    h2 Потребителско име: #{user.username}
                div
                    h3 Име: #{user.firstName}
                div
                    h3 Фамилия: #{user.lastName}
                div
                    h3 E-mail: #{user.email}
                div
                    h3 Телефон: #{user.phone}
                div 
                    h3 Резeрвирани стаи:
                    each val in user.roomOrders
                        div
                            span Начало на купона: #{val.startDate}г. &nbsp
                            span Продължителност на купона: #{val.nightsCount} дни.
                div 
                    h3 Резeрвирани услуги:
                    each val in user.serviceOrders
                        div
                            span Начало на купона: #{val.startDate}г.
                            span Продължителност на купона: #{val.nightsCount} часа.