extend ../_shared/_master
include _orders-table

block body
    if (message && message.length > 0)
        .flash-message-green
            | #{message}
    if (error && error.length > 0)
        .flash-message-red
            | #{error}
    h1 Профилът на: 
        span.text-danger #{user.username}
    .container
        .row
            .col-lg-4.col-md-12
                //- div(class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad")
                .panel.panel-info
                    .panel-heading
                        h3.panel-title Потребител: #{user.username}
                    .panel-body
                        .text-center
                            img.img-circle.avatar(alt="profile picture" src="http://bootdey.com/img/Content/user_1.jpg")                            
                        table.table.custom-table
                            tbody
                                tr
                                    th Име:
                                    td #{user.firstName}
                                tr
                                    th Фамилия:
                                    td #{user.lastName}
                                tr
                                    th E-mail: 
                                    td #{user.email}
                                tr
                                    th Телефон:
                                    td #{user.phone}

            .col-lg-8.col-md-12
                .panel.panel-success
                    .panel-heading
                        h3.panel-title Резeрвирани стаи или услуги
                    .panel-body
                        +orders-table