extend ../_shared/_master

block body
    if (message && message.length > 0)
        .flash-message-green
            | #{message}
    if (error && error.length > 0)
        div.flash-message-red
            | #{error}
    .row.text-center
        .col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8
            .room-details
                img(src=region.imageURL)
                div.text-center                    
                    h3 #{region.name}
                    p=region.description