extend ../_shared/_master

block body
    if (message && message.length > 0)
        div.flash-message-green
            | #{message}
    div
        img(src=region.imageURL, alt='')
        h2 #{region.name}
        h3 #{region.description}
        h3 #{region.regionType}
            a.btn.btn-primary.pull-right(href='#') Резервирай